<!DOCTYPE html>
<html lang = 'sl'>
    <head>
        <title>Varovalec sporočil</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="theme.css">
        <style>
            body {
                background-color: rgba(158, 211, 204, 0.774);
                font-size: 150%;
                margin-top: 5cm;
                  
            }
            p {
                padding: 1%;
            }

            
            
        </style>
    </head>
    <body>
        <div class="container">
            {{!base}}
        </div>
    </body> 
       
</html>