<!DOCTYPE html>
<html lang='sl'>

<head>

    <title>Varovalec sporočil</title>
    <meta charset="utf-8">    
    <style>
        body {
            background-color: rgba(158, 211, 204, 0.774);
            font-size: 175%;
            margin-top: 10%;
            margin-left: 20%;
            margin-right: 20%;

        }
    </style>
</head>

<body>
    <div class="container">
        <a style="text-decoration: none; color: black;" href="/">
            <h1>
                VAROVALEC SPOROČIL
            </h1>
        </a>
        {{!base}}
    </div>
</body>

</html>