% import bottle
% rebase("base.html")

<h1>VAROVALEC SPOROČIL</h1>
<h2>CEZARJEVA ŠIFRA</h2>

<form action="/cezarjeva-sifra" method="POST" target=_blank>
    <label for="kljuc">Vpiši ključ:</label><br>
    <input type="text" id="kljuc" name="kljuc"><br>

    <label for="besedilo">Vpiši besedilo:</label><br>
    <input id="tekst" name="tekst" row="10" cols = "70"><br>

    <button type="submit" value=1 name="kodiranje">Zakodiraj!</button>

    <button type="submit" value=0 name="kodiranje">Dekodiraj!</button>
</form>
