% import bottle
% rebase("base.html")

<h1>VAROVALEC SPOROČIL</h1>
<form action="/rot13">
    <button style="width: 250px; height: 80px; font-size: 25px; margin: 5px; margin-left: 35px;" type="submit">
        ROT13
    </button>
</form>
<form action="/cezarjeva-sifra">
    <button style="width: 250px; height: 80px; font-size: 25px; margin: 5px; margin-left: 35px;" type="submit">
        Cezarjeva šifra
    </button>
</form>
<form action="/substitucija-plus">
    <button style="width: 250px; height: 80px; font-size: 25px; margin: 5px; margin-left: 35px;" type="submit">
        Substitucija+
    </button>
</form>
<form action="/poligrafska-substitucija">
    <button style="width: 250px; height: 80px; font-size: 25px; margin: 5px; margin-left: 35px;" type="submit">
        Poligrafska substitucija
    </button>
</form>

<a href="http://www.crypto-it.net/eng/simple/index.html" target=_blank style="margin-top: 5px; margin-left: 35px;">Več o preprostih metodah šifriranja!</a>

</body>
</html>