% import bottle
% rebase("base.html")

<h1>VAROVALEC SPOROČIL</h1>
<form action="/rot13">
    <button type="submit">
        ROT13
    </button>
</form>
<form action="/cezarjeva-sifra">
    <button type="submit">
        Cezarjeva šifra
    </button>
</form>
<form action="/substitucija-plus">
    <button type="submit">
        Substitucija+
    </button>
</form>
<form action="/poligrafska-substitucija">
    <button type="submit">
        Poligrafska substitucija
    </button>
</form>

</body>
</html>