% import bottle
% rebase("base.html")

<!--<h1>VAROVALEC SPOROČIL</h1>-->
<h2>SUBSTITUCIJA+</h2>

<form action="/substitucija-plus" method="POST" target=_blank>
    <label for="kljuc">Vpiši ključ:</label><br>
    <input type="text" id="kljuc" name="kljuc" placeholder="Naj bo naravno število!"><br>

    <label for="besedilo">Vpiši besedilo:</label><br>
    <textarea id="tekst" name="tekst" row="10" cols = "70"></textarea><br>

    <button type="submit" value=1 name="kodiranje">Zakodiraj!</button>

    <button type="submit" value=0 name="kodiranje">Dekodiraj!</button>
</form>